body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  margin: 0;
  color: #000;
}
section {
  margin: 0;
  padding: 5px;
}
li {
  list-style-type: none;
  padding-bottom: 10px;
}
a {
  text-decoration: none;
}
h2 {
  font-style: bold;
}
.nav-list {
  color: #69696a;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.hire-us a {
  color: #fff;
}
.hire-us {
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #000;
  display: block;
  text-align: center;
  margin: 10px;
  padding: 5px;
}
p {
  color: #69696a;
  border-style: 2px hidden;
  border-left: 2px solid #69696a;
  padding-bottom: 10px;
  padding-left: 10px;
}
.action a {
  color: #fff;
}

.action {
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #000;
  display: block;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

footer {
  background-color: rgba(247, 193, 162, 0.7);
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-links li {
  padding-left: 10px;
  float: left;
}

.footer-links a {
  color: #69696a;
  padding: 10px;
}
